<template>
    <div class="">
        <div class="spinner-border text-primary" v-if="preLoad" role="status">
            <span class="visually-hidden"></span>
        </div>
        <div class="add-clients" v-if="!preLoad">
            <form class="store-form">
                <div class="d-flex">
                    <div class="client me-5">
                        <h2>Клиент</h2>
                        <div v-bind:class="{'has-error' : errors.has('client.name')}">
                            <label for="name" class="form-label">ФИО</label>
                            <input type="text" v-validate="'sometimes'" v-model="client.name" class="form-control mb-3" id="name">
                            <div v-show="errors.has('client.name')" class="help-block btn btn-outline-danger disabled">{{ errors.first('client.name') }}</div>
                        </div>
                        <div v-bind:class="{'has-error' : errors.has('client.gender')}">
                            <label for="gender" class="form-label">Пол</label>
                            <select class="form-select mb-3" aria-label="Default select example" id="gender"
                                    v-model="client.gender">
                                <option value="Мужской">Мужской</option>
                                <option value="Женский">Женский</option>
                            </select>
                            <div v-show="errors.has('client.gender')" class="help-block btn btn-outline-danger disabled">{{ errors.first('client.gender') }}</div>
                        </div>
                        <div v-bind:class="{'has-error' : errors.has('client.address')}">
                            <label for="phone" class="form-label">Телефон</label>
                            <input type="text" v-model="client.phone" class="form-control mb-3" id="phone">
                            <div v-show="errors.has('client.address')" class="help-block btn btn-outline-danger disabled">{{ errors.first('client.address') }}</div>
                        </div>
                        <div class="mb-3">
                            <div v-bind:class="{'has-error' : errors.has('client.address')}">
                                <label for="address" class="form-label">Адресс</label>
                                <input type="text" v-model="client.address" class="form-control mb-3" id="address">
                                <div v-show="errors.has('client.address')"
                                     class="help-block btn btn-outline-danger disabled">
                                    {{ errors.first('client.address') }}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <button @click="storeClient" type="button" class="btn btn-primary me-3">Отправить</button>
                            <button class="btn btn-primary" v-if="this.client.carsCount < 5" type="button"
                                    @click="addCarForm">Добавить автомобиль
                            </button>
                            <button class="btn btn-outline-warning disabled" v-if="this.client.carsCount >= 5"
                                    type="button">Максимальное кол-во
                            </button>
                        </div>
                    </div>
                    <div class="cars">
                        <form id="el">
                            <h2>Автомобиль</h2>
                            <div class="d-flex">
                                <div v-for="(index, car) in cars" class="me-3">
                                        <div v-bind:class="{'has-error' : errors.has('cars.' + car + '.manufacturer')}">
                                            <label :for="index + 'manufacturer'" class="form-label">Марка</label>
                                            <input type="text" v-model="index.manufacturer" class="form-control mb-3"
                                                   :id="index + 'manufacturer'">
                                            <div v-show="errors.has('cars.' + car + '.manufacturer')" class="help-block btn btn-outline-danger disabled">{{ errors.first('cars.' + car + '.manufacturer') }}</div>
                                        </div>
                                        <div v-bind:class="{'has-error' : errors.has('cars.' + car + '.model')}">
                                            <label :for="index + 'model'" class="form-label">Модель</label>
                                            <input type="text" v-model="index.model" class="form-control mb-3"
                                                   :id="index + 'model'">
                                            <div v-show="errors.has('cars.' + car + '.model')" class="help-block btn btn-outline-danger disabled">{{ errors.first('cars.' + car + '.model') }}</div>
                                        </div>
                                        <div v-bind:class="{'has-error' : errors.has('cars.' + car + '.color')}">
                                            <label :for="index + 'color'" class="form-label">Цвет кузова</label>
                                            <input type="text" v-model="index.color" class="form-control mb-3"
                                                   :id="index + 'color'">
                                            <div v-show="errors.has('cars.' + car + '.color')" class="help-block btn btn-outline-danger disabled">{{ errors.first('cars.' + car + '.color') }}</div>
                                        </div>
                                        <div v-bind:class="{'has-error' : errors.has('cars.' + car + '.number')}">
                                            <label :for="index + 'number'" class="form-label">Гос Номер РФ</label>
                                            <input type="text" v-model="index.number" class="form-control mb-3"
                                                   :id="index + 'number'">
                                            <div v-show="errors.has('cars.' + car + '.number')" class="help-block btn btn-outline-danger disabled">{{ errors.first('cars.' + car + '.number') }}</div>
                                        </div>
                                        <div class="d-none">
                                            <input type="text" v-model="index.id = car + 1">
                                        </div>
                                        <button type="button" v-if="cars.length > 1" class="btn btn-outline-danger"
                                                @click="deleteCarForm(car + 1)">Удалить
                                        </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: "AddClient",

    data() {
        return {
            preLoad: true,

            client: {
                carsCount: 1,
                name: '',
                gender: '',
                phone: '',
                address: '',
            },

            cars: [{
                id: 1,
                manufacturer: '',
                model: '',
                color: '',
                number: '',
            }],
        }
    },

    mounted() {
        setTimeout(() => {
            this.preLoad = false;
        }, 500)
        this.client.carsCount = this.cars.length
    },

    methods: {
        // Добавление и удаление Формы с машиной

        addCarForm() {

            this.cars.push({
                id: 1,
                manufacturer: '',
                model: '',
                color: '',
                number: '',
            })

            this.client.carsCount = this.cars.length

        },
        deleteCarForm(car) {
            this.cars = this.cars.filter(l => car !== l.id)
            this.client.carsCount = this.cars.length
        },

        // Создание пользователя

        async storeClient() {
            const fields = {
                client: {
                    name: this.client.name,
                    gender: this.client.gender,
                    phone: this.client.phone,
                    address: this.client.address,
                    cars: this.client.carsCount
                },
                cars: this.cars,
                method: 'storeClient',
            }

            try {
                const res = await axios.post('api/parking/clients', fields)
                console.log(res.data)
            } catch (error) {
                this.$setLaravelValidationErrorsFromResponse(error.response.data)
                console.log('Ошибка', error)
            }
        }
    }
}
</script>

<style scoped>
.add-clients {
    border-radius: 10px;
    padding: 20px;
    width: auto;
    height: auto;
    background-color: white;
    float: left;
}

</style>
