<template>
    <div class="">
        <div class="spinner-border text-primary" v-if="preLoad" role="status">
            <span class="visually-hidden"></span>
        </div>
        <div v-if="!preLoad">
            <div class="find-client">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        @click.once="getClientList" @change="getClientCars($event.target.value)">
                    <option v-for="client in clientsList" :value="client.id">{{ client.name }}</option>
                </select>
                <select class="form-select form-select-lg mb-3"
                        aria-label=".form-select-lg example" v-model="car">
                    <option v-for="clientCar in clientCarsList" :value="clientCar">{{ clientCar.model }}</option>
                </select>
                <button v-if="this.clientsList <= 0" class='btn btn-outline-info mb-3 disabled'>Выберите клиента
                </button>
                <button v-if="this.clientsList.length  > 0 && this.clientCarsList.length <= 0"
                        class='btn btn-outline-warning mb-3 disabled'>Все автомобили клиента на стоянке!
                </button>
                <button v-if="this.clientCarsList.length > 0" class='btn btn-outline-success mb-3'
                        @click="addCarOnParking(car)">Добавить автомобиль на стоянку
                </button>
            </div>
            <div class="clients">
                <div class="mb-3">
                    <button type="button" class="btn btn-primary disabled">
                        Машины на автостоянке <span class="badge bg-secondary">{{ cars.total }}</span>
                    </button>
                </div>
                <div class="table-client">
                    <table class="table table-bordered mb-3">
                        <tbody>
                        <tr class="text-center">
                            <td>Имя владельца</td>
                            <td>Модель машины</td>
                            <td>Гос номер</td>
                        </tr>
                        <tr class="text-center" v-for="car in cars.data">
                            <td>{{ car.name }}</td>
                            <td>{{ car.model }}</td>
                            <td>{{ car.number }}</td>
                            <td>
                                <router-link :to="'/edit/' + car.id" class="btn btn-warning">Редактировать</router-link>
                            </td>
                            <td>
                                <button href="#" @click="deleteCarFromParking(car)"
                                        class="btn btn-danger">
                                    Убрать со стоянки
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" @click.prevent="paginate(cars.prev_page_url)"
                                                     href="#">Previous</a></li>
                            <li class="page-item" v-for="page in cars.links.length - 2"><a class="page-link"
                                                                                           @click.prevent="paginate(page)"
                                                                                           href="#">
                                {{ page }}
                            </a></li>
                            <li class="page-item"><a @click.prevent="paginate(cars.next_page_url)" class="page-link"
                                                     href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Cars",

    data: () => ({
        preLoad: true,

        cars: [],

        clientsList: [],
        clientCarsList: [],

        car: {}
    }),

    mounted() {
        setTimeout(() => {
            this.preLoad = false;
        }, 500)
        this.getCars()
    },

    methods: {
        // Получение всех клиентов для таблицы

        getCars() {
            axios.get('api/parking/cars')
                .then(res => {
                    this.cars = res.data
                })
        },

        // Пагинация

        paginate(number) {
            if (typeof number !== 'number') {
                axios.get(number)
                    .then(res => {
                        this.cars = res.data
                    })
            }
            axios.get('/api/parking/cars?page=' + number)
                .then(res => {
                    this.cars = res.data
                })
        },

        // Получение Клиентов и их машин для выпадающего списка

        getClientList() {
            axios.get('api/parking/cars/' + 'getClientsList')
                .then(res => {
                    this.clientsList = res.data
                })
        },

        getClientCars(car) {
            axios.get('api/parking/cars/' + car)
                .then(res => {
                    this.clientCarsList = res.data
                    this.car = car
                })
        },


        // Добавление на парковку и удаление

        addCarOnParking(car) {
            console.log(car.id)
            axios.put('api/parking/cars/' + car.id, {id: car.id, method: 'updateCarStatus'}).then(() => {
                this.clientCarsList = this.clientCarsList.filter(c => c.id !== this.car.id)
                this.cars.data.push(car)
            })
        },

        deleteCarFromParking(car) {
            axios.put('api/parking/cars/' + car.id, {number: car.number, method: 'updateStatus'}).then(() => {
                this.cars.data = this.cars.data.filter(c => c.id !== car.id)
                this.car = car
                this.clientCarsList.push(this.car)
            })
        }
    }
}
</script>

<style scoped>
.clients {
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    height: auto;
    background-color: white;
    float: left;
}

.find-client {
    margin-top: -50px;
}

</style>
