<template>
    <div class="">
        <div class="spinner-border text-primary" v-if="preLoad" role="status">
            <span class="visually-hidden"></span>
        </div>
        <div v-if="!preLoad">
            <div class="clients">
                <div class="mb-3">
                    <button type="button" class="btn btn-primary disabled">
                        Клиентская база <span class="badge bg-secondary">{{clients.total}}</span>
                    </button>
                </div>
                <div class="table-client">
                    <table class="table table-bordered mb-3">
                        <tbody>
                        <tr class="text-center">
                            <td>Имя</td>
                            <td>Номер телефона</td>
                            <td>Кол-во авто</td>
                        </tr>
                        <tr class="text-center" v-for="client in clients.data">
                            <td>{{ client.name }}</td>
                            <td>{{ client.phone }}</td>
                            <td>{{ client.cars }}</td>
                            <td>
                                <router-link :to="'/edit/' + client.id" class="btn btn-warning">Редактировать
                                </router-link>
                            </td>
                            <td>
                                <button href="#" @click="deleteClient(client.id)" class="btn btn-danger">
                                    Удалить
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" @click.prevent="paginate(clients.prev_page_url)"
                                                 href="#">Previous</a></li>
                        <li class="page-item" v-for="page in clients.links.length - 2"><a class="page-link"
                                                                                          @click.prevent="paginate(page)"
                                                                                          href="#">
                            {{ page }}
                        </a></li>
                        <li class="page-item"><a @click.prevent="paginate(clients.next_page_url)" class="page-link"
                                                 href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Clients",

    data: () => ({
        preLoad: true,

        clients: [],

        clientsList: [],
        clientCarsList: [],

        currentClient: '',
        currentCarClient: '',
    }),

    mounted() {
        setTimeout(() => {
            this.preLoad = false;
        }, 500)
        this.getClients();
    },

    methods: {

        // Получение всех клиентов для таблицы

        getClients() {
            axios.get('/api/parking/clients')
                .then(res => {
                    this.clients = res.data
                })
        },

        // Пагинация

        paginate(number) {
            if (typeof number !== 'number') {
                axios.get(number)
                    .then(res => {
                        this.clients = res.data
                    })
            }
            axios.get('/api/parking/clients?page=' + number)
                .then(res => {
                    this.clients = res.data
                })
        },

        //Удаления клиента

        deleteClient(id) {
            axios.delete('api/parking/clients/' + id)
            this.clients = this.clients.data.filter(client => client.id !== id)
        }

    }
}
</script>

<style scoped>
.clients {
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    height: 515px;
    background-color: white;
    float: left;
}

</style>
