<template>
    <div class="">
        <div class="spinner-border text-primary" v-if="preLoad" role="status">
            <span class="visually-hidden"></span>
        </div>
        <div class="update-clients" v-if="!preLoad">
            <div class="d-flex">
                <div class="client me-5">
                    <h2>Клиент</h2>
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">ФИО</label>
                            <input type="text" v-model="client.name" class="form-control" id="name">
                        </div>
                        <div class="mb-3">
                            <label for="gender" class="form-label">Пол</label>
                            <select class="form-select" aria-label="Default select example" id="gender"
                                    v-model="client.gender">
                                <option value="Мужской">Мужской</option>
                                <option value="Женский">Женский</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Телефон</label>
                            <input type="text" v-model="client.phone" class="form-control" id="phone">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Адресс</label>
                            <input type="text" v-model="client.address" class="form-control" id="address">
                        </div>
                        <button type="button" @click="updateClient($route.params.id)" class="btn btn-primary">Сохранить
                        </button>
                    </form>
                </div>
                <div class="cars">
                    <div class="d-flex">
                        <form class="me-3">
                            <h2 v-if="this.cars.length >= 2">Автомобили</h2>
                            <h2 v-if="this.cars.length <= 1">Автомобиль</h2>
                            <div class="d-flex">
                                <div class="me-3" v-for="(car, index) in cars">
                                    <div class="mb-3">
                                        <label :for="car.manufacturer + 'manufacturer'" class="form-label">Марка</label>
                                        <input type="text" v-model="car.manufacturer" name="manufacturer"
                                               class="form-control"
                                               :id="car.manufacturer + 'manufacturer'">
                                    </div>
                                    <div class="mb-3">
                                        <label :for="car.model + 'Model'" class="form-label">Модель</label>
                                        <input type="text" v-model="car.model" class="form-control"
                                               :id="car.model + 'Model'">
                                    </div>
                                    <div class="mb-3">
                                        <label :for="car.color + 'Color'" class="form-label">Цвет кузова</label>
                                        <input type="text" v-model="car.color" class="form-control"
                                               :id="car.color + 'Color'">
                                    </div>
                                    <div class="mb-3">
                                        <label :for="car.number + 'Number'" class="form-label">Гос Номер РФ</label>
                                        <input type="text" v-model="car.number" class="form-control"
                                               :id="car.number + 'Number'">
                                    </div>
                                    <div class="mb-3 d-none">
                                        <label :for="car.number + 'id'" class="form-label">Гос Номер РФ</label>
                                        <input type="text" v-model="car.clientId = car.id" class="form-control"
                                               :id="car.number + 'id'">
                                    </div>
                                    <button type="button" v-if="cars.length > 1" class="btn btn-outline-danger mb-3"
                                            @click="deleteCar(car.id)">Удалить
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex">
                                <button type="button" @click="updateCars" class="btn btn-primary me-3">Сохранить</button>
                                <button class="btn btn-primary" v-if="newCars.length < 5" type="button"
                                        @click="addNewCarForm">Добавить автомобиль
                                </button>
                                <button v-else class="btn btn-outline-warning disabled" type="button">Максимум</button>
                            </div>
                        </form>
                        <form id="el">
                            <h2>Добавить Авто</h2>
                            <div class="d-flex">
                                <div v-for="(index, car) in newCars" class="me-3">
                                    <div class="mb-3">
                                        <label :for="index + 'manufacturer'" class="form-label">Марка</label>
                                        <input type="text" v-model="index.manufacturer" class="form-control"
                                               :id="index + 'manufacturer'">
                                    </div>
                                    <div class="mb-3">
                                        <label :for="index + 'model'" class="form-label">Модель</label>
                                        <input type="text" v-model="index.model" class="form-control"
                                               :id="index + 'model'">
                                    </div>
                                    <div class="mb-3">
                                        <label :for="index + 'color'" class="form-label">Цвет кузова</label>
                                        <input type="text" v-model="index.color" class="form-control"
                                               :id="index + 'color'">
                                    </div>
                                    <div class="mb-3">
                                        <label :for="index + 'number'" class="form-label">Гос Номер РФ</label>
                                        <input type="text" v-model="index.number" class="form-control"
                                               :id="index + 'number'">
                                    </div>
                                    <div class="d-none">
                                        <input type="text" v-model="index.id = car + 1">
                                    </div>
                                    <div class="d-none">
                                        <input type="text" v-model="index.clientId = $route.params.id">
                                    </div>
                                    <button type="button" v-if="newCars.length > 1" class="btn btn-outline-danger"
                                            @click="deleteNewCarForm(car + 1)">Удалить
                                    </button>
                                </div>
                            </div>
                            <button type="button" @click="storeNewCars" class="btn btn-primary me-3">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "UpdateClient",
    data() {
        return {
            preLoad: true,
            client: [],
            cars: [],

            newCars: [{
                id: 1,
                clientId: 1,
                manufacturer: '',
                model: '',
                color: '',
                number: '',
            }],

        }
    },

    mounted() {
        setTimeout(() => {
            this.preLoad = false;
        }, 500)
        this.getClient(this.$route.params.id);
    },

    methods: {

        // Получение конкретного клиента и редактирование информации о нем

        getClient(id) {
            axios.get('/api/parking/clients/' + id).then(res => {
                this.client = res.data[0]
                this.cars = res.data
            })
        },

        updateClient(id) {
            const fields = {
                client: {
                    name: this.client.name,
                    gender: this.client.gender,
                    phone: this.client.phone,
                    address: this.client.address,
                },
                method: 'updateClient'
            }
            axios.put('/api/parking/clients/' + id, fields).then(res => {
                console.log({fields})
            })
        },

        // Редактирование информации о машин(е/ах) клиента и удаление

        updateCars() {
            const cars = this.cars

            const fields = {
                updateCars: cars,
                method: 'updateCars'
            }

            axios.put('/api/parking/cars/' + this.$route.params.id, fields).then(res => {
                console.log(fields)
            })
        },

        deleteCar(id) {
            axios.delete('/api/parking/cars/' + id)
            this.cars = this.cars.filter(d => id !== d.id)
        },

        // Добавление пустой формы с машиной, удаление и отправка формы.

        addNewCarForm() {
            this.newCars.push({
                id: 1,
                clientId: 1,
                manufacturer: '',
                model: '',
                color: '',
                number: '',
            })
        },
        deleteNewCarForm(car) {
            this.newCars = this.newCars.filter(l => car !== l.id)
        },

        storeNewCars() {
            const fields = {
                newCars: this.newCars,
                method: 'storeCars'
            }

            axios.post('/api/parking/cars', fields)
        },
    }
}
</script>

<style scoped>
.update-clients {
    border-radius: 10px;
    padding: 20px;
    width: auto;
    height: auto;
    background-color: white;
    float: left;
}

</style>
