<template>
    <div class="left-menu">
        <div class="left-menu-header">
            <div class="left-menu-header-logo text-center">
                <h3>PARKING-APP</h3>
            </div>
        </div>
        <router-link to="/" class="text-decoration-none" aria-current="true">
            <div class="left-menu-body-button text-center btn-outline-success">
                <p>Машины на автостоянке</p>
            </div>
        </router-link>
        <router-link to="/clients" class="text-decoration-none" aria-current="true">
            <div class="left-menu-body-button text-center btn-outline-success">
                <p>Все клиенты</p>
            </div>
        </router-link>
        <router-link to="/add" class="text-decoration-none" aria-current="true">
            <div class="left-menu-body-button text-center btn-outline-success">
                <p>Добавить клиента</p>
            </div>
        </router-link>
    </div>
</template>
<script>
export default {
    name: "LeftMenu"
}
</script>

<style scoped>
.left-menu {
    width: 270px;
    height: 937px;
    background-color: #3a4652;
}

.left-menu-header {
    width: 270px;
    height: 80px;
    padding-top: 20px;
}
.left-menu-header-logo{
    color: white;
}

.left-menu-body-button {
    padding-top: 12px;
    height: 50px;
}
.left-menu-body-button>p {
    color: white;
}
</style>
