<template>
    <div class="parking-navbar">

    </div>
</template>

<script>
export default {
    name: "Navbar"
}
</script>

<style scoped>

.parking-navbar{
    margin: 0;
    width: 1650px;
    height: 80px;
    background-color: #d6dde5;
}
</style>
